import math
print("WELCOME TO THE CALCULATOR!")
print("   A)Addition")
print("   B)Subtraction")
print("   C)Multiplication")
print("   D)Division")
choice = raw_input("Pick Your Choice: ")
if choice=="A":
  print("You better be ready for some Addition!")
  x = input("Enter a number: ")
  y = input("And another: ")
  print("Your answer is: +str(x+y))
  
